http_interactions:
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/wlts//list_collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"collections":["terraclass_amazonia","deter_amazonia_legal","deter_cerrado","prodes_cerrado","prodes_amazonia_legal","lapig_cerrado_pasture","ibge_cobertura_uso_terra","mapbiomas5_amazonia","mapbiomas5_cerrado","mapbiomas5_caatinga","mapbiomas5_mata_atlantica","mapbiomas5_pampa","mapbiomas5_pantanal"]}
  recorded_at: 2021-02-11 10:38:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/wlts//describe_collection?collection_id=deter_amazonia_legal
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"classification_system":{"classification_system_id":"21","classification_system_name":"DETER Amaz\u00f4nia Legal","type":"Self"},"collection_type":"Feature","description":"Alertas de Desmatamento da Amaz\u00f4nia Legal.","detail":"O DETER \u00e9 um levantamento r\u00e1pido de alertas de evid\u00eancias de altera\u00e7\u00e3o da cobertura florestal na Amaz\u00f4nia, feito pelo INPE. O DETER foi desenvolvido como um sistema de alerta para dar suporte \u00e0 fiscaliza\u00e7\u00e3o e controle de desmatamento e da degrada\u00e7\u00e3o florestal realizadas pelo Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renov\u00e1veis (IBAMA) e demais \u00f3rg\u00e3os ligados a esta tem\u00e1tica. Mais informa\u00e7\u00f5es acesse: http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/deter","name":"deter_amazonia_legal","period":{"end_date":"2020-06-18","start_date":"2016-08-02"},"resolution_unit":{"unit":"DAY","value":"1"},"spatial_extent":{"xmax":-44.0003914444064,"xmin":-73.5490878282397,"ymax":4.55537642867927,"ymin":-18.0364406523564}}
  recorded_at: 2021-02-11 10:38:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/wlts//trajectory?start_date=2015-01-01&end_date=2017-01-01&collections=mapbiomas5_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"query":{"collections":["mapbiomas5_amazonia"],"end_date":"2017-01-01","latitude":-12.0,"longitude":-54.0,"start_date":"2015-01-01"},"result":{"trajectory":[{"class":"Forma\u00e7\u00e3o Florestal","collection":"mapbiomas5_amazonia","date":"2015"},{"class":"Forma\u00e7\u00e3o Florestal","collection":"mapbiomas5_amazonia","date":"2016"},{"class":"Forma\u00e7\u00e3o Florestal","collection":"mapbiomas5_amazonia","date":"2017"}]}}
  recorded_at: 2021-02-11 10:38:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/wlts//trajectory?collections=mapbiomas5_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"query":{"collections":["mapbiomas5_amazonia"][...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/dev/wlts//trajectory?collections=mapbiomas5_amazonia&latitude=-11.01&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"query":{"collections":["mapbiomas5_amazoni[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/wlts//list_collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link:
      - <http://brazildatacube.org/wp-json/>; rel="https://api.w.org/"
      - <http://brazildatacube.org/wp-json/wp/v2/pages/622>; rel="alternate"; type="application/json"
      - <http://brazildatacube.org/>; rel=shortlink
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en-US\" class=\"no-js no-svg\">\n<head>\n\t<!--
        Global site tag (gtag.js) - Google Analytics -->\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"//brazildatacube.org/wp-content/plugins/smart-slider-3/Public/SmartSlider3/Application/Frontend/Assets/dist/smartslider.min.css?ver=a96b01e9\"
        media=\"all\" />\n<style type=\"text/css\">.n2-ss-spinner-simple-white-container
        {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -20px;\n
        \   background: #fff;\n    width: 20px;\n    height: 20px;\n    padding: 10px;\n
        \   border-radius: 50%;\n    z-index: 1000;\n}\n\n.n2-ss-spinner-simple-white
        {\n  outline: 1px solid RGBA(0,0,0,0);\n  width:100%;\n  height: 100%;\n}\n\n.n2-ss-spinner-simple-white:before
        {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    width: 20px;\n
        \   height: 20px;\n    margin-top: -11px;\n    margin-left: -11px;\n}\n\n.n2-ss-spinner-simple-white:not(:required):before
        {\n    content: '';\n    border-radius: 50%;\n    border-top: 2px solid #333;\n
        \   border-right: 2px solid transparent;\n    animation: n2SimpleWhite .6s
        linear infinite;\n}\n@keyframes n2SimpleWhite {\n    to {transform: rotate(360deg);}\n}</style><script
        async src=\"https://www.googletagmanager.com/gtag/js?id=UA-151888689-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-151888689-1');\n</script>\n\n<meta
        charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\n<script>(function(html){html.className
        = html.className.replace(/\\bno-js\\b/,'js')})(document.documentElement);</script>\n<title>Brazil
        Data Cube &#8211; Plataforma para Análise e Visualização de Grandes Volumes
        de Dados Geoespaciais</title>\n<link rel='dns-prefetch' href='//fonts.googleapis.com'
        />\n<link rel='dns-prefetch' href='//s.w.org' />\n<link href='https://fonts.gstatic.com'
        crossorigin rel='preconnect' />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Brazil Data Cube &raquo; Feed\" href=\"http://brazildatacube.org/feed/\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Brazil Data
        Cube &raquo; Comments Feed\" href=\"http://brazildatacube.org/comments/feed/\"
        />\n\t\t<script type=\"text/javascript\">\n\t\t\twindow._wpemojiSettings =
        {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.1\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/13.0.1\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"http:\\/\\/brazildatacube.org\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=5.6.1\"}};\n\t\t\t!function(e,a,t){var
        n,r,o,i=a.createElement(\"canvas\"),p=i.getContext&&i.getContext(\"2d\");function
        s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return
        p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function
        c(e){var t=a.createElement(\"script\");t.src=e,t.defer=t.type=\"text/javascript\",a.getElementsByTagName(\"head\")[0].appendChild(t)}for(o=Array(\"flag\",\"emoji\"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline=\"top\",p.font=\"600
        32px Arial\",e){case\"flag\":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case\"emoji\":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],\"flag\"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener(\"DOMContentLoad[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/wlts//describe_collection?collection_id=deter_amazonia_legal
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link:
      - <http://brazildatacube.org/wp-json/>; rel="https://api.w.org/"
      - <http://brazildatacube.org/wp-json/wp/[...]
- request:
    method: get
    uri: http://brazildatacube.dpi.inpe.br/wlts//trajectory?start_date=2015-01-01&end_date=2017-01-01&collections=mapbiomas5_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=UTF-8
      link:
      - <http://brazildatacube.org/wp-json/>; rel="https://a[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//list_collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"collections\": [\n    \"terraclass_amazonia\", \n    \"deter_amazonia_legal\",
        \n    \"deter_cerrado\", \n    \"prodes_cerrado\", \n    \"prodes_amazonia_legal\",
        \n    \"lapig_cerrado_pasture\", \n    \"ibge_cobertura_uso_terra\", \n    \"mapbiomas5_amazonia\",
        \n    \"mapbiomas5_cerrado\", \n    \"mapbiomas5_caatinga\", \n    \"mapbiomas5_mata_atlantica\",
        \n    \"mapbiomas5_pampa\", \n    \"mapbiomas5_pantanal\"\n  ]\n}\n"
  recorded_at: 2021-02-11 10:38:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//describe_collection?collection_id=deter_amazonia_legal
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"classification_system\": {\n    \"classification_system_id\":
     [...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//trajectory?start_date=2015-01-01&end_date=2017-01-01&collections=mapbiomas5_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"query\": {\n    \"collections\": [\n      \"mapbiomas5_amazonia\"\n
        \   ], \n    \"end_date\": \"2017-01-01\", \n    \"latitude\": -12.0, \n    \"longitude\":
        -54.0, \n    \"start_date\": \"2015-01-01\"\n  }, \n  \"result\": {\n    \"trajectory\":
        [\n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2015\"\n      }, \n      {\n
        \       \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2016\"\n      }, \n      {\n
        \       \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2017\"\n      }\n    ]\n  }\n}\n"
  recorded_at: 2021-02-11 10:38:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
