http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//trajectory?start_date=2003-01-01&end_date=2008-01-01&collections=mapbiomas5_amazonia%2Cterraclass_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"query\": {\n    \"collections\": [\n      \"mapbiomas5_amazonia\",
        \n      \"terraclass_amazonia\"\n    ], \n    \"end_date\": \"2008-01-01\",
        \n    \"geometry\": false, \n    \"latitude\": -12.0, \n    \"longitude\":
        -54.0, \n    \"start_date\": \"2003-01-01\"\n  }, \n  \"result\": {\n    \"trajectory\":
        [\n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2003\"\n      }, \n      {\n
        \       \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2004\"\n      }, \n      {\n
        \       \"class\": \"Floresta\", \n        \"collection\": \"terraclass_amazonia\",
        \n        \"date\": \"2004\"\n      }, \n      {\n        \"class\": \"Forma\\u00e7\\u00e3o
        Florestal\", \n        \"collection\": \"mapbiomas5_amazonia\", \n        \"date\":
        \"2005\"\n      }, \n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\",
        \n        \"collection\": \"mapbiomas5_amazonia\", \n        \"date\": \"2006\"\n
        \     }, \n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\",
        \n        \"collection\": \"mapbiomas5_amazonia\", \n        \"date\": \"2007\"\n
        \     }, \n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\",
        \n        \"collection\": \"mapbiomas5_amazonia\", \n        \"date\": \"2008\"\n
        \     }, \n      {\n        \"class\": \"Floresta\", \n        \"collection\":
        \"terraclass_amazonia\", \n        \"date\": \"2008\"\n      }\n    ]\n  }\n}\n"
  recorded_at: 2021-06-25 22:57:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//trajectory?start_date=2003-01-01&end_date=2008-01-01&collections=mapbiomas5_amazonia%2Cterraclass_amazonia&latitude=-11.01&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      s[...]
